html,
body {
  font-family: "Oswald", sans-serif;
  background-color: #f2e2aa;
}

.container {
  display: grid;
  align-content: center;
  min-height: 100%;
  width: 100%;
  background-color: #f2e2aa;
}
.LayOut {
  background-color: #bbc25b;
  width: 100%;
  padding-left: 47.5px;
}
#bar_title {
  padding-top: 15px;
  margin-right: 0;
  font-size: 30px;
}
