@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
body,
html {
  height: 100%;
  overflow: hidden;
  background-image: url("img/menu.png");
  background-position: center;
  background-size: cover;
}

p {
  font-family: "Limelight", cursive;
}

h1 {
  font-family: "Noto Sans TC", sans-serif;
  text-shadow: 2px 2px rgba(27, 27, 27, 0.37);
}

.Ferns_Title {
  border: 2px solid #c0c0c0;
  height: auto;
  width: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px rgba(27, 27, 27, 0.37);
  cursor: pointer;
}

.arrowBounce {
  position: relative;
  animation: bounce 2s infinite;
}

.click_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.arrowBounce svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: hsl(243, 80%, 62%);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.menu_container {
  background-color: rgba(27, 27, 27, 0.37);
  height: auto;
  width: 30%;
  padding: 10px;
  border: 0.5px solid white;
  margin: 5px;
  box-shadow: 2px 2px rgba(27, 27, 27, 0.37);
  cursor: pointer;
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
